@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 14px;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #d9d2d2;
    color: hsl(0, 0%, 100%);
    min-height: 100vh;
    place-content: center;
    font-family: 'Inter';
    font-weight: 400;
}

.container{
    padding-top: 2rem;
    width: 90%;
    margin: 0 auto;
    max-width: 350px;
}

h1{
    font-weight: 700;
}

p, h1{
    overflow-wrap: break-word;
}

img{
    display: block;
    max-width: 100%;
}

.profile__image > img {
    border-radius: 50%;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__content {
    background-color: #3d0f59;
    padding: 3em;
    border-radius: 10px;
    margin-bottom: 2em;
    text-align: center;
}

.profile__image {
    width: 8rem;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
}

.bio {
    padding: 1.5em 0;
}

.profile__links {
    width: 100%;
}

.profile__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2.5rem;
}

.profile__links a div:nth-child(2){
    flex-grow: 1;
}

.icon-image{
    position: relative;
    width: 18px;
    height: 18px;
}

.image-default{
    position: absolute;
    top: 0;
    left: 0;
}

.image-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile__link--item{
    margin-top: 1em;
    padding: 0.8em 0;
    width: 100%;
    border-radius: 10px;
    background-color: #eae1e1;
    font-weight: 600;
    text-decoration: none;
    color: #9c01fd;
}

.profile__link--item:hover, .profile__link--item:hover .image-hover {
    background-color:#9c01fd;
    color: #ffffff;
    opacity: 1;
}

.attribution { 
    text-align: center;
    font-size: 1rem;
    color: #000; 
    padding-bottom: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}